@charset "UTF-8";
/*--------------Body--------------*/
body {
  background-color: black;
  text-align: center;
  color: whitesmoke;
}

.web_background {
  background-image: url("../img/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.imglogo {
  width: 145px;
  height: 20px;
  margin-bottom: 5px;
}

.menu_txt {
  font-size: 2rem;
}

/*--------------Header--------------*/
.background_title {
  background-image: url("../img/20.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
}

.general_border {
  border-radius: 15px;
}

/*--------------index--------------*/
h1 {
  color: red;
  font-style: italic;
}

.background_container {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 1000;
  font-size: 1.3rem;
  background-image: url("../img/4.jpg");
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
}

.background_container2 {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: left;
  color: orange;
  background-image: url("../img/6.jpg");
}

.background_container3 {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: left;
  color: orange;
  background-image: url("../img/8.jpg");
}

.main__redes {
  border-radius: 15px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(to bottom, black, #856516);
}

.redes__item {
  position: relative;
  display: inline-block;
}

.redes__anchor {
  display: block;
  color: grey;
  text-decoration: none;
}

.redes__img {
  height: 50px;
}

/*--------------General--------------*/
.txtgold, .txtgold2 {
  color: darkgoldenrod;
}

.txtgrey {
  color: darkgray;
}

.txtold {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 1000;
  font-size: 1.3rem;
}

.blog__simple {
  background-color: rgba(15, 15, 15, 0.8);
}

.txt_space {
  line-height: 200%;
}

/*--------------Registrarse--------------*/
.txtgold2 {
  padding-bottom: 4px;
}

.contrasena {
  color: blanchedalmond;
}

/*--------------Footer--------------*/
.terminos__container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.terminos__item2 {
  font-size: 20px;
  padding: 15px;
}

.terminos__anchor {
  text-decoration: none;
}
.terminos__anchor:hover {
  text-decoration: underline;
}

/*--------------Animación Footer--------------*/
.imglogo__footer {
  width: 165px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.1s;
}
.imglogo__footer:hover {
  transform: scale(1.5, 1.5);
}

.rotate {
  animation: rotation 10s infinite linear;
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*# sourceMappingURL=style.css.map */
