/*--------------Body--------------*/
body {
    background-color: black;
    text-align: center;
    color: whitesmoke;
}
.web_background {
	background-image: url("../img/2.jpg");
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}