/*--------------General--------------*/
$blogcolor: rgba(15, 15, 15, 0.8);
.txtgold {
	color: darkgoldenrod;
}
.txtgrey{
    color: darkgray;
}
.txtold{
    @include txtold
}
.blog__simple{
	background-color: $blogcolor;
}
