@charset "UTF-8";
body {
  background-color: black;
  text-align: center;
  color: whitesmoke; }

.menu__item2 {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 30px;
  height: 60px;
  background-color: rgba(25, 25, 25, 0.8); }

.menu__anchor2 {
  font-size: 25px;
  padding: 5px 10px;
  transition: all 0.10s;
  text-decoration: none; }

.menu__txt2 {
  text-decoration: none;
  color: grey; }

.menu__anchor2:hover {
  background-color: #494949;
  font-size: 28px;
  text-decoration: none;
  color: grey; }

.anchor__registration2 {
  background-image: url("../img/10.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: darkred;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 15px 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none; }

.imglogo2 {
  width: 220px;
  height: 30px; }

.main__picture {
  /*-------------Imagen Principal-------------*/
  background-image: url("../img/1.png");
  height: 150px;
  top: 175px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain; }

.main__background {
  background-image: url("../img/2.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

/*-----------Imagen Fecha------------*/
.main__date {
  background-image: url("../img/3.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1150px;
  width: 90%;
  position: relative;
  background-size: contain;
  margin: 0 auto; }

.date__txt {
  text-align: center;
  position: relative;
  top: 5%;
  color: darkgoldenrod;
  font-size: 100px;
  font-family: 'Marcellus SC', serif; }

.main__txt {
  /*--------------- Título Principal-----------*/
  position: relative;
  font-size: 25px;
  color: red;
  margin: 0 auto; }

.main__subtxt {
  font-size: 35px;
  color: grey;
  font-style: italic; }

/*------------------Bloque Gráficos----------------*/
.main__container {
  background-image: url("../img/4.jpg");
  padding: 30px;
  max-width: 1250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
  margin: 0 auto;
  display: flex;
  border-radius: 15px; }

.block__title {
  color: #a00404;
  font-size: 30px;
  margin-bottom: 20px; }

.block__txt {
  line-height: 1.5;
  color: black;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 1000; }

.block__img {
  display: block;
  float: right;
  width: 500px;
  padding-right: 10px;
  border-radius: 15px; }

/*-------------------------*/
.block__img2 {
  display: block;
  float: left;
  width: 500px;
  padding-right: 10px;
  border-radius: 15px; }

/*-------------------------*/
.block__img3 {
  display: block;
  float: right;
  width: 500px;
  padding-right: 10px;
  border-radius: 15px; }

/*------------Lista Graficos-----------*/
.main__lista {
  background-image: url("../img/6.jpg");
  padding: 30px;
  max-width: 1150px;
  width: 95%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
  margin: 0 auto;
  border-radius: 15px;
  opacity: 0.7;
  text-align: left; }

.block__lista {
  font-weight: bold;
  padding: 20px;
  line-height: 3;
  text-indent: 25px;
  display: block;
  opacity: 1.2; }

.lista__txt {
  color: #caca21;
  font-size: 25px; }

/*-------------------------*/
.main__lista2 {
  background-image: url("../img/8.jpg");
  padding: 30px;
  max-width: 1150px;
  width: 95%;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
  margin: 0 auto;
  border-radius: 15px; }

.block__lista2 {
  font-weight: bold;
  padding: 20px;
  line-height: 3;
  text-indent: 25px;
  display: block;
  float: right; }

.lista__txt2 {
  color: darkgray;
  font-size: 25px;
  text-align: right; }

/*----------Redes Sociales----------*/
.main__redes {
  background-color: #121212;
  list-style-type: none;
  border-radius: 10px;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(to bottom, black, #856516); }

.redes__item {
  position: relative;
  display: inline-block;
  padding: 0 90px 0 90px; }

.redes__anchor {
  display: block;
  color: grey;
  text-decoration: none; }

.redes__img {
  height: 50px; }

.blog__simple3 {
  background-color: rgba(25, 25, 25, 0.8);
  border-radius: 30px;
  padding: 15px; }

.rotate {
  animation: rotation 10s infinite linear;
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }

/*---------Legales------------*/
.footer__txt {
  text-align: center; }

.imglogo__footer {
  width: 220px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.10s; }

.imglogo__footer:hover {
  transform: scale(1.5, 1.5); }

/*-----------Terminos------------*/
.terminos__container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.terminos__item2 {
  display: flex;
  font-size: 20px;
  padding: 15px; }

.terminos__anchor {
  text-decoration: none;
  color: royalblue; }

.terminos__anchor:hover {
  text-decoration: underline; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
